*{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}